<div class="row">
  <div class="col-md-3">
    <% if session[:token] %>

      <%= link_to image_tag(@user.avatar_url, size: '225x225', alt: "#{@user.name} avatar", class: "img-rounded") %>

      <h2><strong><%= @user.name %></strong></h2>
      <h4><%= @user.login %></h4>

      <p><%= @user.email %></p>
      <p>Joined on <%= @user.created_at %></p>

      <p>Followers: <%= @user.followers %></p>
      <p>Following: <%= @user.following %></p>

    <% end %>
  </div>
</div>
